@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my first Web App!</h1>
    <p>Learn about <a href="https://platzi.com/clases/1707-web-apps/23138-integracion-continua-de-mi-aplicacion/">Github Continuous Integration</a>.</p>
</div>
